body {
    font-size: 20px;
    padding: 10px;
}

.english-word {
    color: magenta;
    cursor: pointer;
}

.english-word:hover {
    color: red;
}

.translated-word {
    color: blue;
    cursor: pointer;
}

.translated-word:hover {
    color: red;
}

.ht:hover .tooltip {
    display:block;
}

.ht:focus .tooltip {
    display:block;
}

.ht:focus {
    outline: none;
}



.tooltip {
   
    display: none;
    color: white;
    font-weight: bold;
    /*margin-left: 28px;  moves the tooltip to the right */
    /*margin-top: 15px;  moves it down */
    position: absolute;
    background-color: rgba(0,0,0,.8);
    width: 100%;
    z-index: 1000;
    text-align: center;
    left: 0px;
    /* bottom: 0px; */
}
body {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    
}

.book-option img {
    width: 100%;
    display: block;
}

.book-option {
    width: 150px;
    vertical-align: top;
    display: inline-block;
    padding: 10px;
}

.book-option:hover {
    background-color:rgba(0, 0, 0, 0.2)
}